

.App{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border:20px solid white;
  background-color: skyblue;
  padding: 20px;
  height: 500px;
  width: 500px;
}
.ShowLocation{
  background-color:rgb(173, 173, 173);
  border-radius: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  height: 80px;
  width: 50%;
  margin:0 auto;
}
.result{
  color: white;
  font-size: 40px;
  font-weight: bold;
}